Source: cbpp-exit
Section: misc
Priority: extra
Maintainer: Ben Young <computermouth@crunchbangplusplus.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 3.9.5
Homepage: https://crunchbangplusplus.org

Package: cbpp-exit
Architecture: all
Depends: ${misc:Depends}, python-gtk2
Description: CrunchBangPlusPlus logout script.
 GUI logout/shutdown/restart/suspend script.
